PLEX_URL=https://plex.domain.tld                       # URL for Plex; can be a domain or IP:PORT
PLEX_TOKEN=PLEX-TOKEN                                  # https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/
DELETE=0                                               # DELETE=1 will perform the delete. This is PERMANENT. UNDO will NOT restore. 0 will tell you what would be deleted if you had set it to 1
RENAME=0                                               # RENAME=1 will perform a rename of the files that would be deleted to append ".jpg". Can be undone by setting UNDO=1
UNDO=0                                                 # UNDO=1 will rename all the files that are named with ".jpg" back to no file extension
TMP_DIR = c:\folder\plex_db\                           # Temporary directory (SHOULD BE AN EMPTY FOLDER) where the plex DB will be downloaded to to perform query
DIR_PATH=\\NZWHS01\appdata\plex\Metadata\              # path to the Metadata directory in PLEX where the Movies and TV Shows subfolders are found. Local for best performance but can be mounted as well
TC_PATH=\\NZWHS01\appdata\plex\Cache\PhotoTranscoder\  # path to the PhotoTranscoder folder where client thumbnails are stored and rarely if ever get deleted
TC_DEL=0                                               # set TC_DEL=1 and the script with delete files found in the Cache\PhotoTranscoder directory defined here. UNDO will not undo this action. 